.App {
  text-align: center;
  background-color: #f0f2f5;
  min-height: 100vh;
}

.modules {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Ensure modules fill the full width */
  padding: 0 20px; /* Add padding to space them from edges */
}

.logo a {
  text-decoration: none;
  color: inherit;
}

.module {
  flex-basis: calc(30% - 20px); /* Adjust for larger boxes */
  margin-bottom: 20px;
  background-color: white;
  padding: 10px 30px; /* Increase padding for larger boxes */
  border-radius: 5px;
  text-align: center;
  transition: transform 0.8s ease-in-out;
  box-sizing: border-box; /* Ensure padding and border are included in width calculation */
}

.module:hover {
  transform: translateY(-5px);
}

.create-module-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-module-form input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}

.create-module-button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.create-module-button:hover {
  background-color: #21a1f1;
}

.bottomSection {
  display: grid;
  grid-template-columns: 1fr auto; /* 1fr for input box, auto for button */
  gap: 10px;
  padding-top: 30px;
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 30px;
  background-color: lightgrey;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px); /* Adjust height as needed */
  margin-top: -30px;
}

.no-modules-message {
  text-align: center;
  font-size: 1.5rem;
  color: #555; /* or any color you prefer */
}