.category-list {
  text-align: center;
  padding: 20px;
}

.categories {
  display: flex;
  flex-wrap: wrap; /* Ensure categories wrap correctly */
  justify-content: center; /* Center align categories */
}

.category {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 80%;
  max-width: 300px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bottomSection {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 30px;
  background-color: lightgrey;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.create-category-form {
  display: flex;
  align-items: center;
}

.create-category-form .form-group {
  display: flex;
  gap: 10px;
}

.create-category-form input[type="text"],
.create-category-form input[type="file"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.create-category-form button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.create-category-form button:hover {
  background-color: #21a1f1;
}

.category button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.category button:hover {
  background-color: #21a1f1;
}

.files {
  margin-top: 10px;
}

.file {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  background-color: #fff;
  width: 100%;
  text-align: left;
}
