.App {
  text-align: center;
  background-color: #f0f2f5;
  min-height: 100vh;
}

.modules {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
}

.create-module-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-module-form input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}

.create-module-button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.create-module-button:hover {
  background-color: #21a1f1;
}
